<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <h1>About</h1>
  <p>Gabriel Gurgel, the cool developer who made this web app</p>
  <p>
    From <a href="https://www.railstutorial.org/"> Ruby on Rails Tutorial
  </p>
</html>