<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <h1>Beeper</h1>
  <p>Welcome to Beeper
     This is the homepage for the greatest Twitter clone you ever
     seen...You are welcome
  </p>
  <p>
    From <a href="https://www.railstutorial.org/"> Ruby on Rails Tutorial
   </p>
</html>